/* Colors */
:root {
  --c-white: hsl(0, 0%, 100%);
  --c-gray-dark: hsl(233, 14%, 25%);
  --c-purple: hsl(232, 58%, 55%);

  --color-main-bg: var(--c-white);
  --color-text-dark: var(--c-gray-dark);
  --color-text-light: var(--c-white);
  --color-hero-bg: var(--c-purple);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
